:root {
    --fundo-primaria: #21282d;
    --fundo-secundaria: #cde8f7;
    --texto-primario: #363c3f;
    --texto-secundario: #6b777c;
    --destaque: #f48619;
}


/* Tratamento Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    font-family: Nunito, sans-serif;
}

h2 {
    font-size: 15pt;
}

h3 {
    font-size: 10pt;
}


/* Ajuste de Grid e Responsividades */

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo-primaria);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27vh 60vh 13vh;
}

@media screen and (min-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #tempo,
    #atividades,
    #menu {
        grid-column: 2;
    }
}


/* Estilização da área do temporizador */

#tempo {
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    grid-row: 1;
    justify-content: center;
}

#contador {
    display: block;
    /* position: absolute; */
    color: var(--destaque);
    font-size: 50pt;
    margin-top: 20px;
}

#barra-progresso-fundo {
    display: block;
    position: relative;
    margin-top: -10px;
    background-color: var(--fundo-secundaria);
    height: 10px;
    width: 90%;
    border-radius: 7px;
}

#barra-progresso {
    display: block;
    position: absolute;
    background-color: var(--destaque);
    height: 10px;
    width: 30%;
    border-radius: 7px;
}


/* Botões do Temporizador*/

#botoes {
    display: block;
    text-align: center;
    margin-top: 15px;
}

#botoes button {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%;
    border-color: transparent;
    background-color: var(--fundo-secundaria);
    justify-content: center;
    align-items: center;
}

#botoes button:hover {
    background-color: var(--texto-primario);
}

button:focus {
    outline: none;
}

#stop {
    background-color: var(--texto-secundario);
    width: 13px;
    height: 13px;
    border-radius: 2px;
    margin: auto;
}

#play {
    box-sizing: border-box;
    width: 15px;
    height: 17px;
    border-left: 15px solid var(--texto-secundario);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-radius: 3px;
    margin: 0 auto 0 7px;
}

button:hover>#stop {
    background-color: var(--fundo-secundaria);
}

button:hover>#play {
    border-left-color: var(--fundo-secundaria);
}


/* Atividades */

#atividades {
    /* background-color: antiquewhite; */
    grid-row: 2;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.titulo {
    color: var(--fundo-secundaria);
    text-transform: uppercase;
    width: 99px;
    font-size: 17pt;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px var(--destaque) solid;
}

#aFazer .titulo{
    width: 98px;
}

#feito .titulo{
    width: 66px;
}

.cards {
    display: block;
    padding-bottom: 20px;
}

.card {
    display: block;
    position: relative;
    height: 60px;
    min-width: 90%;
    border-radius: 10px;
    background-color: var(--fundo-secundaria);
    margin-top: 20px;
    color: var(--texto-primario);
}

.card img {
    width: 17px;
}

.card h2 {
    position: absolute;
    top: 5px;
    left: 15px;
}

.tempoTotal {
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
    align-content: space-around;
}

.tempoTotal h3 {
    margin-left: 5px;
}

.ciclos {
    position: absolute;
    right: 20px;
    bottom: 5px;
}

#menu {
    /* background-color: aqua; */
    grid-row: 3;
    position: relative;
    display: flex;
    justify-content: center;
}

#menu button {
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    color: var(--texto-primario);
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    font-size: 19pt;
}

#botaoAFazer {
    left: 20px;
    bottom: 20px;
}

#botaoAdicionar {
    top: -10px
}

#botaoFeito {
    right: 49px;
    bottom: 20px;
}

#menu img {
    width: 50px;
}

#botaoAFazer:active,
#botaoAFazer:focus {
    color: var(--destaque);
    border-bottom: 2px var(--destaque) solid;
}

#botaoFeito:active,
#botaoFeito:focus {
    color: var(--destaque);
    border-bottom: 2px var(--destaque) solid;
}

.modal {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    align-content: center;
    justify-content: center;
}

#telaAdicionar {
    margin: auto;
    width: 300px;
    height: 200px;
    border-radius: 50px;
    
    background-color: var(--fundo-primaria);
    padding: 20px;


}

#telaAdicionar form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#telaAdicionar h1 {
    color: var(--destaque);
    font-size: 12pt;
    text-transform: uppercase;
    margin: 10px 0 5px 0;
}

#nomeTarefa {
    width: 90%;
    border-radius: 15px;
    border: none;
    height: 22px;
}

#duracao {
    display: flex;
    width: 200px;
    justify-content: center;
}

#duracao input, #duracao p {
    display: inline;
}

#duracao p {
    margin: 0 5px;
    color: var(--fundo-secundaria);
}


#hora, #minuto {
    width: 30%;
    border: none;
    border-radius: 15px;
    font-size: 10pt;
    
}

::placeholder { 
    text-transform: lowercase;
    text-indent: 5px;
}


input:focus {
    outline: none;
    text-indent: 5px;
}

#cancelar, #adicionar {
    font-family: Nunito, sans-serif;
    font-size: 17pt;
    border-radius: 10px;
    padding: 4px;
    border: none;
    margin: 10px 5px;
    background-color: transparent;
}

#cancelar {
    color: var(--texto-secundario);
}

#adicionar {
    color: var(--destaque);
}

.hidden {
    display: none;
}